/* Théme couleur */

:root {
    --main-color : rgb(152,21,132);
    --second-color : rgb(128,128,128); 
  }
  

/* * {
border : solid 1px black;
} */







html {
    font-family: arial;
    background-color: black;
    
} 

/* BODY */
body {
display : flex;
justify-content:center;
 /* margin-bottom:5%;  */
width : 80%;
margin : auto; 
background-color: white;
} 

aside {
    width: 35%;
    border-right:1.8px solid var(--second-color);
    /* height: 100vw; */
}

main {
    width: 65%;
}

/* ASIDE - partie de gauche */
/* -------------------------------------- */

/* ASIDE - HEADER */
aside>header>* {
    margin:auto;
    text-align: center;
    color:white;
    text-transform: uppercase;
    margin-bottom: 2%;
    width: 50%;
}

aside>header {
    padding-top:5%;
    padding-bottom:5%;
}
.contenair_img {
    width:150px;
    height:150px;  
    display: block;
}

aside>header>img{
    width:30%;
    height:30%;  
    border-radius: 50%;
    object-fit:cover;
}
aside>header>h1 {
    background-color: var(--main-color);
}

aside>header>p {
    background-color: var(--second-color);
    padding : 1%;
}

/* ASIDE - H2 */
aside h2 {
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    margin:auto;
    border-bottom: 1.8px solid var(--second-color);
    padding-bottom: 1%;
}

/* ASIDE - BLOC */
aside .bloc {
    padding-bottom: 5%;
}

aside .bloc img {
    padding-bottom: 5%;
    height: 8%;
    width: 8%;
}




/* ASIDE - UL */

/* 1er UL */
 aside .bloc_detail{
    width: 90%;
    margin:auto;
    padding-top: 2.5%; 
    padding-bottom: 2.5%;
    list-style-type: none;
    /* padding-left: 0; */
} 

/* aside .bloc ul{
    padding-left: 0;
} */

/* DIV contenant LI et UL pour les mettre côté à côté */
aside .bloc_detail .bloc_detail_cote{
    padding-top: 2.5%;
    display: flex;
    flex-wrap: wrap; /* pour le responsive */
}

/* LI affiché en gras : pas de puce */
.bloc_detail_cote>li{
    list-style-type: none;
} 

/* LI affiché des LI en gras : changement de puce par défaut */
@counter-style thumbs {
    system: cyclic;
    symbols: ☑;
    suffix: " ";
  }
  
.bloc_detail_cote>ul>li{
    list-style-type: thumbs;
} 



/* ASIDE - LI */
 aside .contact>ul>li{
    padding-bottom: 1%;
    display: flex;
    justify-content: flex-start;
} 

aside li img{
    height : 10px;
    width : 10px;
    
}

aside li .icon {
    padding-right : 2%;
    
  }

/* MAIN - partie de droite */
/* -------------------------------------- */


/* HEADER */
/* -------------------------------------- */

main>header{
    height: 5em;
    /* text-align:center; */
    background-color : var(--main-color);
    /* color:white; */
    display: flex;
}

main>header>h1{
    text-align:center;
    margin : auto; 
    color:white;
}

/* COMMUN*/
/* -------------------------------------- */

main p {
    margin:0;
}

main h2 {
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    margin:auto;  
    border-bottom: 1.8px solid var(--second-color);
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

main>#exp_pro, #formation{
    padding-left: 3%;
}

.exp_pro__liste, .formation__liste {
    display: flex;
    padding-right: 5%;
}

.exp_pro__liste__date_lieu, .formation__liste__date_lieu {
    width: 20%; 
   color:rgb(128,128,128);
   font-size: 0.9em;
}

.exp_pro__liste__detail, .formation__liste__detail {
    width: 80%; 
}

.exp_pro__liste__detail>p,.formation__liste__detail>p{
    text-transform: uppercase;
    font-weight: bold;
}

.exp_pro__liste__detail__poste, .formation__liste__detail__mention, .formation__liste__detail__specialite{
    text-transform:initial; 
    font-weight:initial;
    color:var(--second-color);
}

/* EXPERIENCE PRO */
/* -------------------------------------- */

.exp_pro__liste__detail>ul>li{
margin-top:1%;
}


/* FORMATION */
/* -------------------------------------- */

.formation__liste__detail__ecole{
font-style: italic;
/* line-height: 50%; */
}

.formation__liste__detail{
    margin-bottom: 2%;
}


/* CENTRE INTERET */
/* -------------------------------------- */

#centre_interet>ul>li{
    list-style: none;
    padding-bottom: 1%;

}

#centre_interet>ul>li>span{
    font-weight: bold ;
} 


/* aside li .icon i {
   position: absolute; 
  
  top: 20%;
  left: 20%;
  
  transform: translate(-50%, -50%);
} */


/*
h1,p {
    width: 50%;
    margin:auto;
    text-align: center;
    color:white;
    text-transform: uppercase;
}
*/

/* media queries */

@media (max-width: 1024px) {
    body {
        width : 100%;
        } 

    aside>header>* {
        width: 80%;
    }

    aside ul {
        padding-left: 5%;
    }
   
}




